*.pyc

/runs
/runs_bak
/models
/data
/data_bak
/configs
/scripts
/baselines
/plots

.ipynb_checkpoints/
*.DS_Store
*.ipynb

*.sh

/*env/
/torchseq/external
.vscode
/notebooks

.coverage
coverage.xml

*.egg-info/

# Sphinx documentation
docs/_build/
