tensorboard==2.7.0
torch==1.9.1
tqdm>=4.62
scipy>=1.5

nltk>=3.6.5
transformers==4.12.4
tokenizers==0.10.3
jsonlines>=2
sacrebleu>=2.0
py-rouge

pytest>=6.2
pytest-cov>=2.12
codecov>=2.1
flake8>=3.9
black>=21.6b0

sphinx>=3.3
sphinx_rtd_theme
recommonmark