tensorboard==2.12.0
torch==1.13.1
tqdm>=4.62
scipy>=1.5
lightning==1.9.4

nltk>=3.6.7
transformers==4.26.1
tokenizers==0.12.1
jsonlines>=2
sacrebleu>=2.0
py-rouge
rouge-score
opentsne
sentencepiece==0.1.95
pydantic==1.9.1
truecase==0.0.14

matplotlib

wandb==0.13.10
protobuf<4

pytest>=6.2
pytest-cov>=2.12
codecov>=2.1
flake8==6.0.0
black==23.1.0
mypy==1.0.1

sphinx>=3.3
sphinx_rtd_theme
recommonmark