absl-py==0.5.0
certifi==2018.10.15
chardet==3.0.4
cymem==2.0.2
cytoolz==0.9.0.1
dill==0.2.8.2
en-core-web-sm==2.0.0
grpcio==1.15.0
idna==2.7
Markdown==3.0.1
msgpack==0.5.6
msgpack-numpy==0.4.3.2
murmurhash==1.0.1
numpy==1.15.2
Pillow==5.3.0
plac==0.9.6
preshed==2.0.1
protobuf==3.6.1
regex==2018.1.10
requests==2.19.1
six==1.11.0
spacy==2.0.16
tensorboard==1.11.0
tensorboardX==1.4
thinc==6.12.0
toolz==0.9.0
torch==0.4.1
torchvision==0.2.1
tqdm==4.27.0
ujson==1.35
urllib3==1.23
Werkzeug==0.14.1
wrapt==1.10.11
